VITE_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=your-project-id
VITE_APPWRITE_PROJECT_NAME=OutCraft Applications
VITE_APPWRITE_DATABASE_ID=outcraft
VITE_APPWRITE_COLLECTION_ID=applications
VITE_APPWRITE_FUNCTION_SUBMIT_ID=submit-application
